# Temp Tables

In [1]:
import os
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()

'C:\\opt\\spark\\spark-3.1.1-bin-hadoop2.7'

In [2]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
from pyspark.rdd import RDD
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql import Row

conf = pyspark.SparkConf().setAppName('SparkApp').setMaster('local[*]')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)
sc._conf.get('spark.driver.memory')

In [3]:
# Spark Session - usando quando se trabalha com Dataframes no Spark

spSession = SparkSession.builder.master('local').appName('DSA-SparkSQL').config('spark.some.config.option', 'some-value').getOrCreate()

In [4]:
# Importando o arquivo JSON

funcDF = spSession.read.json('C:/Users/skite/OneDrive/Documentos/GitHub/Spark/funcionarios.json')

In [5]:
# Registrando o Dataframe como Temp Table

funcDF.createOrReplaceTempView('funcTB')

In [6]:
spSession.sql('select * from funcTB where salario = 6700').show()

+------+-----+---------------+-------+----+
|deptid|idade|           nome|salario|sexo|
+------+-----+---------------+-------+----+
|  1000|   36|Bruno Velasquez|   6700|   m|
+------+-----+---------------+-------+----+

In [15]:
# Criando Tem Table

SQLContext.registerDataFrameAsTable(df = funcDF, tableName = 'funcTB2')

TypeError: registerDataFrameAsTable() missing 1 required positional argument: 'self'