# Spark SQL

**O spark SQL é usado para acessar dados estruturados com Spark**

Podemos acompanhar a execução dos jobs acessando: http://localhost:4040/

### Spark SQL e RDD's

In [1]:
import os
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()

'C:\\opt\\spark\\spark-3.1.1-bin-hadoop2.7'

In [2]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
from pyspark.rdd import RDD
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql import Row

conf = pyspark.SparkConf().setAppName('SparkApp').setMaster('local[*]')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)
sc._conf.get('spark.driver.memory')

In [3]:
# Spark Session - usando quando se trabalha com Dataframes no Spark

spSession = SparkSession.builder.master('local').appName('DSA-SparkSQL').config('spark.some.config.option', 'some-value').getOrCreate()

In [4]:
# Criando o SQL context para trabalhar com Spark SQL

sqlContext = SQLContext(sc)

In [5]:
# Importando o arquivo e criando uma RDD

linhasRDD1 = sc.textFile('C:/Users/skite/OneDrive/Documentos/GitHub/Spark/carros.csv')

In [6]:
linhasRDD1.take(5)

['MAKE,FUELTYPE,ASPIRE,DOORS,BODY,DRIVE,CYLINDERS,HP,RPM,MPG-CITY,MPG-HWY,PRICE',
 'subaru,gas,std,two,hatchback,fwd,four,69,4900,31,36,5118',
 'chevrolet,gas,std,two,hatchback,fwd,three,48,5100,47,53,5151',
 'mazda,gas,std,two,hatchback,fwd,four,68,5000,30,31,5195',
 'toyota,gas,std,two,hatchback,fwd,four,62,4800,35,39,5348']

In [7]:
linhasRDD1.count()

198

In [8]:
# Removendo a primeira linha - Tranformação 1

linhasRDD2 = linhasRDD1.filter(lambda x: 'FUELTYPE' not in x)

In [9]:
linhasRDD2.count()

197

In [10]:
# Dividindo o conjunto de dados em colunas - Transformação 2

linhasRDD3 = linhasRDD2.map(lambda line: line.split(','))

In [11]:
# Dividindo o conjunto de dados em colunas - Transformação 3

linhasRDD4 = linhasRDD3.map(lambda p: Row(make = p[0], body = p[4], hp = int(p[7])))

In [12]:
?Row

Init signature: Row(*args, **kwargs)
Docstring:
A row in :class:`DataFrame`.
The fields in it can be accessed:

* like attributes (``row.key``)
* like dictionary values (``row[key]``)

``key in row`` will search through row keys.

Row can be used to create a row object by using named arguments.
It is not allowed to omit a named argument to represent that the value is
None or missing. This should be explicitly set to None in this case.

.. versionchanged:: 3.0.0
    Rows created from named arguments no longer have
    field names sorted alphabetically and will be ordered in the position as
    entered.

Examples
--------
>>> row = Row(name="Alice", age=11)
>>> row
Row(name='Alice', age=11)
>>> row['name'], row['age']
('Alice', 11)
>>> row.name, row.age
('Alice', 11)
>>> 'name' in row
True
>>> 'wrong_key' in row
False

Row also can be used to create another Row like class, then it
could be used to create Row objects, such as

>>> Person = Row("name", "age")
>>> Person
<Row('name', 'age')>
>>> 'name' in Person
True
>>> 'wrong_key' in Person
False
>>> Person("Alice", 11)
Row(name='Alice', age=11)

This form can also be used to create rows as tuple values, i.e. with unnamed
fields.

>>> row1 = Row("Alice", 11)
>>> row2 = Row(name="Alice", age=11)
>>> row1 == row2
True
File:           c:\opt\spark\spark-3.1.1-bin-hadoop2.7\python\pyspark\sql\types.py
Type:           type
Subclasses:

In [13]:
linhasRDD4.collect()

[Row(make='subaru', body='hatchback', hp=69),
 Row(make='chevrolet', body='hatchback', hp=48),
 Row(make='mazda', body='hatchback', hp=68),
 Row(make='toyota', body='hatchback', hp=62),
 Row(make='mitsubishi', body='hatchback', hp=68),
 Row(make='honda', body='hatchback', hp=60),
 Row(make='nissan', body='sedan', hp=69),
 Row(make='dodge', body='hatchback', hp=68),
 Row(make='plymouth', body='hatchback', hp=68),
 Row(make='mazda', body='hatchback', hp=68),
 Row(make='mitsubishi', body='hatchback', hp=68),
 Row(make='dodge', body='hatchback', hp=68),
 Row(make='plymouth', body='hatchback', hp=68),
 Row(make='chevrolet', body='hatchback', hp=70),
 Row(make='toyota', body='hatchback', hp=62),
 Row(make='dodge', body='hatchback', hp=68),
 Row(make='honda', body='hatchback', hp=58),
 Row(make='toyota', body='hatchback', hp=62),
 Row(make='honda', body='hatchback', hp=76),
 Row(make='chevrolet', body='sedan', hp=70),
 Row(make='nissan', body='sedan', hp=69),
 Row(make='mitsubishi', body='hatchback', hp=68),
 Row(make='dodge', body='sedan', hp=68),
 Row(make='plymouth', body='sedan', hp=68),
 Row(make='mazda', body='sedan', hp=68),
 Row(make='isuzu', body='sedan', hp=78),
 Row(make='mazda', body='hatchback', hp=68),
 Row(make='nissan', body='sedan', hp=69),
 Row(make='honda', body='hatchback', hp=76),
 Row(make='toyota', body='wagon', hp=62),
 Row(make='toyota', body='sedan', hp=70),
 Row(make='mitsubishi', body='sedan', hp=88),
 Row(make='subaru', body='hatchback', hp=73),
 Row(make='nissan', body='sedan', hp=55),
 Row(make='subaru', body='sedan', hp=82),
 Row(make='honda', body='hatchback', hp=76),
 Row(make='toyota', body='hatchback', hp=70),
 Row(make='honda', body='sedan', hp=76),
 Row(make='honda', body='wagon', hp=76),
 Row(make='nissan', body='sedan', hp=69),
 Row(make='nissan', body='wagon', hp=69),
 Row(make='mazda', body='sedan', hp=68),
 Row(make='subaru', body='wagon', hp=82),
 Row(make='nissan', body='sedan', hp=69),
 Row(make='subaru', body='hatchback', hp=73),
 Row(make='dodge', body='sedan', hp=68),
 Row(make='plymouth', body='sedan', hp=68),
 Row(make='mitsubishi', body='hatchback', hp=102),
 Row(make='toyota', body='sedan', hp=70),
 Row(make='subaru', body='sedan', hp=82),
 Row(make='volkswagen', body='sedan', hp=52),
 Row(make='toyota', body='hatchback', hp=56),
 Row(make='nissan', body='hatchback', hp=69),
 Row(make='honda', body='hatchback', hp=86),
 Row(make='toyota', body='wagon', hp=62),
 Row(make='toyota', body='sedan', hp=56),
 Row(make='dodge', body='hatchback', hp=102),
 Row(make='plymouth', body='hatchback', hp=102),
 Row(make='volkswagen', body='sedan', hp=85),
 Row(make='volkswagen', body='sedan', hp=52),
 Row(make='nissan', body='wagon', hp=69),
 Row(make='subaru', body='wagon', hp=82),
 Row(make='toyota', body='sedan', hp=70),
 Row(make='mitsubishi', body='sedan', hp=88),
 Row(make='volkswagen', body='sedan', hp=85),
 Row(make='toyota', body='hatchback', hp=70),
 Row(make='nissan', body='hardtop', hp=69),
 Row(make='toyota', body='hatchback', hp=70),
 Row(make='toyota', body='hardtop', hp=116),
 Row(make='mazda', body='sedan', hp=84),
 Row(make='volkswagen', body='sedan', hp=85),
 Row(make='mitsubishi', body='hatchback', hp=88),
 Row(make='toyota', body='wagon', hp=62),
 Row(make='honda', body='sedan', hp=86),
 Row(make='mazda', body='hatchback', hp=84),
 Row(make='dodge', body='wagon', hp=88),
 Row(make='plymouth', body='wagon', hp=88),
 Row(make='toyota', body='sedan', hp=92),
 Row(make='nissan', body='hatchback', hp=97),
 Row(make='honda', body='hatchback', hp=86),
 Row(make='subaru', body='sedan', hp=82),
 Row(make='toyota', body='sedan', hp=70),
 Row(make='mitsubishi', body='sedan', hp=116),
 Row(make='mitsubishi', body='sedan', hp=116),
 Row(make='toyota', body='sedan', hp=112),
 Row(make='volkswagen', body='sedan', hp=68),
 Row(make='toyota', body='hatchback', hp=112),
 Row(make='nissan', body='sedan', hp=97),
 Row(make='toyota', body='hardtop', hp=116),
 Row(make='mitsubishi', body='hatchback', hp=116),
 Row(make='subaru', body='sedan', hp=94),
 Row(make='volkswagen', body='hatchback', hp=90),
 Row(make='toyota', body='hatchback', hp=92),
 Row(make='toyota', body='hatchback', hp=116),
 Row(make='volkswagen', body='sedan', hp=100),
 Row(make='subaru', body='wagon', hp=94),
 Row(make='mazda', body='sedan', hp=84),
 Row(make='honda', body='sedan', hp=86),
 Row(make='honda', body='sedan', hp=100),
 Row(make='mazda', body='hatchback', hp=84),
 Row(make='toyota', body='sedan', hp=73),
 Row(make='toyota', body='sedan', hp=92),
 Row(make='mazda', body='hatchback', hp=101),
 Row(make='isuzu', body='hatchback', hp=90),
 Row(make='toyota', body='hardtop', hp=116),
 Row(make='mazda', body='hatchback', hp=84),
 Row(make='toyota', body='hatchback', hp=92),
 Row(make='subaru', body='sedan', hp=111),
 Row(make='toyota', body='hatchback', hp=116),
 Row(make='volkswagen', body='convertible', hp=90),
 Row(make='subaru', body='wagon', hp=111),
 Row(make='mazda', body='hatchback', hp=101),
 Row(make='saab', body='hatchback', hp=110),
 Row(make='peugot', body='sedan', hp=97),
 Row(make='saab', body='sedan', hp=110),
 Row(make='volkswagen', body='wagon', hp=88),
 Row(make='peugot', body='wagon', hp=97),
 Row(make='mitsubishi', body='hatchback', hp=145),
 Row(make='plymouth', body='hatchback', hp=145),
 Row(make='volvo', body='sedan', hp=114),
 Row(make='honda', body='sedan', hp=101),
 Row(make='dodge', body='hatchback', hp=145),
 Row(make='peugot', body='sedan', hp=95),
 Row(make='volkswagen', body='sedan', hp=110),
 Row(make='volvo', body='wagon', hp=114),
 Row(make='alfa-romero', body='convertible', hp=111),
 Row(make='nissan', body='sedan', hp=152),
 Row(make='nissan', body='sedan', hp=152),
 Row(make='mazda', body='hatchback', hp=101),
 Row(make='volkswagen', body='sedan', hp=68),
 Row(make='peugot', body='wagon', hp=95),
 Row(make='audi', body='sedan', hp=102),
 Row(make='nissan', body='wagon', hp=152),
 Row(make='mitsubishi', body='hatchback', hp=145),
 Row(make='mitsubishi', body='hatchback', hp=145),
 Row(make='saab', body='hatchback', hp=110),
 Row(make='audi', body='sedan', hp=110),
 Row(make='saab', body='sedan', hp=110),
 Row(make='peugot', body='sedan', hp=95),
 Row(make='mazda', body='hatchback', hp=135),
 Row(make='toyota', body='sedan', hp=156),
 Row(make='toyota', body='wagon', hp=156),
 Row(make='volvo', body='sedan', hp=114),
 Row(make='toyota', body='hatchback', hp=161),
 Row(make='bmw', body='sedan', hp=101),
 Row(make='alfa-romero', body='convertible', hp=111),
 Row(make='alfa-romero', body='hatchback', hp=154),
 Row(make='mercury', body='hatchback', hp=175),
 Row(make='volvo', body='wagon', hp=114),
 Row(make='toyota', body='hatchback', hp=161),
 Row(make='peugot', body='sedan', hp=97),
 Row(make='peugot', body='wagon', hp=95),
 Row(make='volvo', body='sedan', hp=114),
 Row(make='peugot', body='sedan', hp=95),
 Row(make='bmw', body='sedan', hp=101),
 Row(make='peugot', body='wagon', hp=95),
 Row(make='nissan', body='hatchback', hp=160),
 Row(make='audi', body='sedan', hp=115),
 Row(make='toyota', body='convertible', hp=116),
 Row(make='audi', body='sedan', hp=110),
 Row(make='peugot', body='sedan', hp=95),
 Row(make='peugot', body='sedan', hp=142),
 Row(make='saab', body='hatchback', hp=160),
 Row(make='mazda', body='sedan', hp=120),
 Row(make='mazda', body='sedan', hp=72),
 Row(make='nissan', body='hatchback', hp=160),
 Row(make='volvo', body='sedan', hp=162),
 Row(make='saab', body='sedan', hp=160),
 Row(make='audi', body='wagon', hp=110),
 Row(make='volvo', body='wagon', hp=162),
 Row(make='volvo', body='sedan', hp=160),
 Row(make='nissan', body='hatchback', hp=200),
 Row(make='bmw', body='sedan', hp=121),
 Row(make='bmw', body='sedan', hp=121),
 Row(make='volvo', body='sedan', hp=134),
 Row(make='porsche', body='hatchback', hp=143),
 Row(make='volvo', body='sedan', hp=106),
 Row(make='volvo', body='sedan', hp=114),
 Row(make='audi', body='sedan', hp=140),
 Row(make='bmw', body='sedan', hp=121),
 Row(make='mercedes-benz', body='sedan', hp=123),
 Row(make='mercedes-benz', body='hardtop', hp=123),
 Row(make='mercedes-benz', body='wagon', hp=123),
 Row(make='bmw', body='sedan', hp=182),
 Row(make='mercedes-benz', body='sedan', hp=123),
 Row(make='jaguar', body='sedan', hp=176),
 Row(make='porsche', body='hardtop', hp=207),
 Row(make='porsche', body='hardtop', hp=207),
 Row(make='mercedes-benz', body='sedan', hp=155),
 Row(make='mercedes-benz', body='convertible', hp=155),
 Row(make='jaguar', body='sedan', hp=176),
 Row(make='jaguar', body='sedan', hp=262),
 Row(make='bmw', body='sedan', hp=182),
 Row(make='porsche', body='convertible', hp=207),
 Row(make='mercedes-benz', body='sedan', hp=184),
 Row(make='bmw', body='sedan', hp=182),
 Row(make='mercedes-benz', body='hardtop', hp=184)]

In [14]:
# Criando um Dataframe a partirdo RDD

linhasDF = spSession.createDataFrame(linhasRDD4)

In [15]:
linhasDF.show()

+----------+---------+---+
|      make|     body| hp|
+----------+---------+---+
|    subaru|hatchback| 69|
| chevrolet|hatchback| 48|
|     mazda|hatchback| 68|
|    toyota|hatchback| 62|
|mitsubishi|hatchback| 68|
|     honda|hatchback| 60|
|    nissan|    sedan| 69|
|     dodge|hatchback| 68|
|  plymouth|hatchback| 68|
|     mazda|hatchback| 68|
|mitsubishi|hatchback| 68|
|     dodge|hatchback| 68|
|  plymouth|hatchback| 68|
| chevrolet|hatchback| 70|
|    toyota|hatchback| 62|
|     dodge|hatchback| 68|
|     honda|hatchback| 58|
|    toyota|hatchback| 62|
|     honda|hatchback| 76|
| chevrolet|    sedan| 70|
+----------+---------+---+
only showing top 20 rows

In [16]:
type(linhasDF)

pyspark.sql.dataframe.DataFrame

**Agora podemos aplicar algumas das operações (Similares) usados na linguagem SQL**

In [17]:
linhasDF.select('*').show()

+----------+---------+---+
|      make|     body| hp|
+----------+---------+---+
|    subaru|hatchback| 69|
| chevrolet|hatchback| 48|
|     mazda|hatchback| 68|
|    toyota|hatchback| 62|
|mitsubishi|hatchback| 68|
|     honda|hatchback| 60|
|    nissan|    sedan| 69|
|     dodge|hatchback| 68|
|  plymouth|hatchback| 68|
|     mazda|hatchback| 68|
|mitsubishi|hatchback| 68|
|     dodge|hatchback| 68|
|  plymouth|hatchback| 68|
| chevrolet|hatchback| 70|
|    toyota|hatchback| 62|
|     dodge|hatchback| 68|
|     honda|hatchback| 58|
|    toyota|hatchback| 62|
|     honda|hatchback| 76|
| chevrolet|    sedan| 70|
+----------+---------+---+
only showing top 20 rows

In [18]:
linhasDF.orderBy('make').show()

+-----------+-----------+---+
|       make|       body| hp|
+-----------+-----------+---+
|alfa-romero|  hatchback|154|
|alfa-romero|convertible|111|
|alfa-romero|convertible|111|
|       audi|      sedan|110|
|       audi|      sedan|115|
|       audi|      sedan|110|
|       audi|      wagon|110|
|       audi|      sedan|140|
|       audi|      sedan|102|
|        bmw|      sedan|101|
|        bmw|      sedan|101|
|        bmw|      sedan|121|
|        bmw|      sedan|121|
|        bmw|      sedan|182|
|        bmw|      sedan|182|
|        bmw|      sedan|121|
|        bmw|      sedan|182|
|  chevrolet|      sedan| 70|
|  chevrolet|  hatchback| 70|
|  chevrolet|  hatchback| 48|
+-----------+-----------+---+
only showing top 20 rows

**Para Usar a linguagem SQL propriamente dito temos que usar o Dataframe como temporario.**

In [19]:
# Registrando o Datframe como uma Temp Table

linhasDF.createOrReplaceTempView('linhasTB')

In [20]:
# Executando queries SQL ANST

spSession.sql("select * from linhasTB where make = 'nissan'").show()

+------+---------+---+
|  make|     body| hp|
+------+---------+---+
|nissan|    sedan| 69|
|nissan|    sedan| 69|
|nissan|    sedan| 69|
|nissan|    sedan| 55|
|nissan|    sedan| 69|
|nissan|    wagon| 69|
|nissan|    sedan| 69|
|nissan|hatchback| 69|
|nissan|    wagon| 69|
|nissan|  hardtop| 69|
|nissan|hatchback| 97|
|nissan|    sedan| 97|
|nissan|    sedan|152|
|nissan|    sedan|152|
|nissan|    wagon|152|
|nissan|hatchback|160|
|nissan|hatchback|160|
|nissan|hatchback|200|
+------+---------+---+

In [21]:
# Executando queries SQL ANSI

spSession.sql('select make, body, avg(hp) from linhasTB group by make, body').show()

+-------------+-----------+-----------------+
|         make|       body|          avg(hp)|
+-------------+-----------+-----------------+
|       nissan|      wagon|96.66666666666667|
|       subaru|      sedan|             90.2|
|     plymouth|      sedan|             68.0|
|        dodge|  hatchback|             90.2|
|       nissan|      sedan|             89.0|
|        honda|      sedan|             89.8|
|   mitsubishi|  hatchback|            105.0|
|        mazda|      sedan|82.66666666666667|
|  alfa-romero|convertible|            111.0|
|mercedes-benz|convertible|            155.0|
|     plymouth|      wagon|             88.0|
|mercedes-benz|      wagon|            123.0|
|        isuzu|  hatchback|             90.0|
|       toyota|convertible|            116.0|
|        mazda|  hatchback|             89.4|
|    chevrolet|      sedan|             70.0|
|      mercury|  hatchback|            175.0|
|      porsche|  hatchback|            143.0|
|        honda|      wagon|             76.0|
|      porsche|convertible|            207.0|
+-------------+-----------+-----------------+
only showing top 20 rows