# Spark SQL e Arquivos JSON

In [1]:
import os
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()

'C:\\opt\\spark\\spark-3.1.1-bin-hadoop2.7'

In [2]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
from pyspark.rdd import RDD
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql import Row

conf = pyspark.SparkConf().setAppName('SparkApp').setMaster('local[*]')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)
sc._conf.get('spark.driver.memory')

In [3]:
# Spark Session - usando quando se trabalha com Dataframes no Spark

spSession = SparkSession.builder.master('local').appName('DSA-SparkSQL').config('spark.some.config.option', 'some-value').getOrCreate()

In [4]:
# Importando o arquivo JSON

funcDF = spSession.read.json('C:/Users/skite/OneDrive/Documentos/GitHub/Spark/funcionarios.json')

In [5]:
funcDF.show()

+------+-----+----------------+-------+----+
|deptid|idade|            nome|salario|sexo|
+------+-----+----------------+-------+----+
|  1000|   42|   Josias Rebelo|   7000|   m|
|  2000|   50|Mauricio Gonheim|   9500|   m|
|  1000|   36| Bruno Velasquez|   6700|   m|
|  1000|   41|  Ananda Tavares|   9300|   f|
|  2000|   34|     Carlos Maia|   5500|   m|
+------+-----+----------------+-------+----+

In [6]:
funcDF.printSchema()

root
 |-- deptid: string (nullable = true)
 |-- idade: string (nullable = true)
 |-- nome: string (nullable = true)
 |-- salario: string (nullable = true)
 |-- sexo: string (nullable = true)

In [7]:
type(funcDF)

pyspark.sql.dataframe.DataFrame

In [8]:
# Operaçães com Dataframe Spark SQL - select()

funcDF.select('nome').show()

+----------------+
|            nome|
+----------------+
|   Josias Rebelo|
|Mauricio Gonheim|
| Bruno Velasquez|
|  Ananda Tavares|
|     Carlos Maia|
+----------------+

In [9]:
# Operação com Dataframe Spark SQL - filter()

funcDF.filter(funcDF['idade'] == 50).show()

+------+-----+----------------+-------+----+
|deptid|idade|            nome|salario|sexo|
+------+-----+----------------+-------+----+
|  2000|   50|Mauricio Gonheim|   9500|   m|
+------+-----+----------------+-------+----+

In [10]:
# Operação com Dataframe Spark SQL - groupBy()

funcDF.groupBy('sexo').count().show()

+----+-----+
|sexo|count|
+----+-----+
|   m|    4|
|   f|    1|
+----+-----+

In [12]:
# Operação com Dataframe Spark SQL - groupBy()

funcDF.groupBy('deptid').agg({'salario':'avg', 'idade':'max'}).show()

+------+----------+-----------------+
|deptid|max(idade)|     avg(salario)|
+------+----------+-----------------+
|  2000|        50|           7500.0|
|  1000|        42|7666.666666666667|
+------+----------+-----------------+

In [13]:
# Registrando o dataframe como uma Temp Table

funcDF.registerTempTable('funcTB')

In [17]:
# Executando queries SQL ANSI

spSession.sql("select deptid, max(idade), avg(salario) from funcTB group by deptid").show()

+------+----------+----------------------------+
|deptid|max(idade)|avg(CAST(salario AS DOUBLE))|
+------+----------+----------------------------+
|  2000|        50|                      7500.0|
|  1000|        42|           7666.666666666667|
+------+----------+----------------------------+